
:root {
    --body-bg: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%) !important;
    --card-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.06) !important;
    --hover-card-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.15) !important;
}

/*
 * cursors from: https://github.com/yml2213/blog-img/
*/

body {
    background: var(--body-bg);
    cursor: url('https://cdn.jsdelivr.net/gh/ciraos/File-agent@main/cursor/选择.cur'), default;
}

a, img {
    cursor: url('https://cdn.jsdelivr.net/gh/ciraos/File-agent@main/cursor/链接选择.cur'), default;
}

textarea {
    cursor: url('https://cdn.jsdelivr.net/gh/ciraos/File-agent@main/cursor/输入.cur'), default;
}

@font-face {
    font-family: 'ZhuZiAYuanJWD';
    src: url('https://cdn.jsdelivr.net/gh/ciraos/File-agent@main/fonts/ZhuZiAYuanJWD.ttf');
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0px !important;
}

.tk-input[data-v-619b4c52] .el-textarea__inner {
    height: 240px !important;
}

.tk-input[data-v-619b4c52] .el-textarea__inner:focus {
    background-image: none !important;
}

.table-wrap {
    margin-top: 1.2rem !important;
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

kbd {
    border-radius: 8px;
    font-family: 'ZhuZiAYuanJWD';
    font-weight: bolder;
    box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
    background-color: hsla(0,0%,100%,0.6);
    color: rgb(55, 55, 243);
}

code {
    color: rgb(240, 42, 240);
    font-weight: bolder;
    font-family: 'ZhuZiAYuanJWD', sans-serif;
    border-radius: 8px;
}

blockquote {
    border-radius: 8px;
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
    line-height: 1.8;
    box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
}

blockquote a {
    text-decoration: underline;
    padding-left: .2rem;
}
